<div id="about_content">
  <p>CrossFit Analytics is an initiative to combine data with CrossFit training.
     By analyzing and exposing the scores of the best CrossFit athletes, the idea is that
     patterns will begin to emerge that can highlight exactly what it takes to be great
     in the sport of fitness.
   </p>
   <br/>
   <br/>
   <h2>How are these numbers generated and are they accurate?</h2>
   <p>All numbers have been taken from the athlete bios on
     <a target="_blank" href="http://games.crossfit.com/">games.crossfit.com</a>.
      The "Top 10" category only analyzes the scores of the top 10 Games finishers
      (separated by gender) from the selected year. The "Games" category analyzes the scores of
      all the Games competitors from the selected year. The "Regionals" category analyzes the scores
      of the top 15 Regional competitors from each region for that year, and the "Open" category
      analyzes the scores of the top 600 Open finishers worldwide for that year.
      <br/>
      At present, only the average scores of these groups are displayed. Some athletes
      did not provide information for all of the fields (i.e. they may not have provided
      a "Helen" time or a max clean and jerk). In those cases, the algorithm simply
      skipped over that field for that athlete and continued on with the others.
      There was a lot of data, so the numbers are still highly accurate even though
      not all athletes completed their bios.
    </p>
    <br/>
    <br/>
    <h2>About the Coder</h2>
    <p>My name is Julia Edwards and I graduated with a degree in Computer Science
       from Smith College in 2015. I am passionate about CrossFit and built this
       site to help boost my training through data analysis. I currently train
       at NorCal CrossFit.
    </p>

</div>
