<div id="compare-groups-content">
  <div class="info">
    <p>Select the Genders and Levels (i.e. Female Top 10 Games Finishers)
       you want to compare one at a time and add them using button below.
       The table will update to show the average scores of the chosen groups
       for each WOD or Max.
    </p>
  </div>
  <div class="selection">
    <form name="levelForm" ng-submit="submitLevelForm()">
    <select ng-model="level">
      <option value="women-top", label="Female Top 10", ng-selected="level == women-top">
      <option value="women-games", label="Female Games Competitors", ng-selected="level == women-games">
      <option value="women-regionals", label="Female Regionals Competitors", ng-selected="level == women-regionals">
      <option value="women-open", label="Female Open Competitors", ng-selected="level == women-open">
      <option value="women-first", label="First Place Female", ng-selected="level == women-first">
      <option value="men-top", label="Male Top 10", ng-selected="level == men-top">
      <option value="men-games", label="Male Games Competitors", ng-selected="level == men-games">
      <option value="men-regionals", label="Male Regionals Competitors", ng-selected="level == men-regionals">
      <option value="men-open", label="Male Open Competitors", ng-selected="level == men-open">
      <option value="men-first", label="First Place Male", ng-selected="level == men-first">
    </select>
    <select ng-model="year" ng-change="getAthleteScores()">
      <option value="15", label="2015", ng-selected="year == 15">
      <option value="14", label="2014", ng-selected="year == 14">
      <option value="13", label="2013", ng-selected="year == 13">
      <option value="12", label="2012", ng-selected="year == 12">
    </select>
    <button type="submit">Add</button>
  </form>
  </div>

  <div class="levels_box">
    <table>
      <tr ng-repeat="level in levelLabels">
        <td class="label">{{level}}</td>
        <td><button ng-click="removeLevel(level)">Remove</button></td>
      </tr>
    </table>
  </div>

  <div class="results_table" ng-hide="hiddenTable">
    <table>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }">
            <div class="dropdown" style="float:left">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="viewScores()">View Scores</a></li>
                <li><a ng-click="viewDifferentials()">View Differentials</a></li>
              </ul>
            </div>
            <div style="float:center">WOD or Max</div>
            <div style="clear:both"></div>
        </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="level in levelLabels">{{level}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Fran </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="fran in frans">{{fran}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Helen </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="helen in helens">{{helen}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Grace </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="grace in graces">{{grace}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Filthy 50 </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="filthy50 in filthy50s">{{filthy50}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Fight Gone Bad </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="fgb in fightGoneBads">{{fgb}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Sprint 400m </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="sprint in sprint400ms">{{sprint}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Run 5k </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="run in run5ks">{{run}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Clean & Jerk </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="cj in cleanAndJerks">{{cj}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Snatch </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="snatch in snatchs">{{snatch}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Deadlift </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="deadlift in deadlifts">{{deadlift}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Back Squat </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="backsquat in backSquats">{{backsquat}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Max Pull-ups </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="pullup in maxPullups">{{pullup}}</td>
      </tr>
    </table>
  </div>

  <div class="results_table" ng-hide="hiddenDiff">
    <table>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }">
          <div class="dropdown" style="float:left">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="viewScores()">View Scores</a></li>
              <li><a ng-click="viewDifferentials()">View Differentials</a></li>
            </ul>
          </div>
          <div style="float:center">WOD or Max</div>
          <div style="clear:both"></div>
        </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="level in levelLabels">{{level}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Fran </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="franKey in franKeys">{{franDiffs[franKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Helen </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="helenKey in helenKeys">{{helenDiffs[helenKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Grace </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="graceKey in graceKeys">{{graceDiffs[graceKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Filthy 50 </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="filthy50Key in filthy50Keys">{{filthy50Diffs[filthy50Key]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Fight Gone Bad </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="fgbKey in fightGoneBadKeys">{{fightGoneBadDiffs[fgbKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Sprint 400m </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="sprintKey in sprint400mKeys">{{sprint400mDiffs[sprintKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Run 5k </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="runKey in run5kKeys">{{run5kDiffs[runKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Clean & Jerk </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="cjKey in cleanAndJerkKeys">{{cleanAndJerkDiffs[cjKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Snatch </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="snatchKey in snatchKeys">{{snatchDiffs[snatchKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Deadlift </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="deadliftKey in deadliftKeys">{{deadliftDiffs[deadliftKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Back Squat </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="backsquatKey in backSquatKeys">{{backSquatDiffs[backsquatKey]}}</td>
      </tr>
      <tr>
        <td ng-style="{ width: {{tdWidth}} }" class="name"> Max Pull-ups </td>
        <td ng-style="{ width: {{tdWidth}} }" ng-repeat="pullupKey in maxPullupKeys">{{maxPullupDiffs[pullupKey]}}</td>
      </tr>
    </table>
  </div>

</div>
