<div id="descriptions-content">
  <p>Check out the links below for more information on the WODs and Maxes used on this site</p>
  <label for="wod-list">WODs:</label>
  <ul id="wod-list">
    <li><a target="_blank" href="http://wodwell.com/wod/fran/">Fran</a></li>
    <li><a target="_blank" href="http://wodwell.com/wod/helen/">Helen</a></li>
    <li><a target="_blank" href="http://wodwell.com/wod/grace/">Grace</a></li>
    <li><a target="_blank" href="http://wodwell.com/wod/filthy-50/">Filthy 50</a></li>
    <li><a target="_blank" href="http://wodwell.com/wod/fight-gone-bad/">Fight Gone Bad</a></li>
  </ul>
  <br/>
  <br/>
  <label for="max-list">Maxes:</label>
  <ul id="max-list">
    <li><a target="_blank" href="https://www.youtube.com/watch?v=8miqQQJEsO0">Clean & Jerk</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=txCe5AFitM4">Snatch</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=qCGtwPhfGf4">Deadlift</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=TZeqWn8CpW4">Back Squat</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=qZ6NX4yQLCo">Pull Ups</a></li>
  </ul>
</div>
