<div class="profile col-md-6 col-md-offset-3">
  <div ng-show="flash" class="alert alert-danger">{{flash.message}}</div>
  <div ng-show="flashInfo" class="alert alert-info">{{flashInfo.message}}</div>

    <!--<h2 style="text-align: center">{{user.firstName}} {{user.lastName}}</h2>-->
    <div class="profile_table" id="profileInfo">
      <table id="userBasics">
        <tr>
          <td rowspan="2"><img src="/images/logo.png" style="width: 200px"></td>
          <td rowspan="2">
            <h2> {{user.firstName}} {{user.lastName}} </h2>
            {{user.username}}
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#updatePhoto">Upload Photo</button></td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#updateInfoForm">Update Information</button></td>
        </tr>
      </table>

      <!--
      <table id="profileInfo">
        <tr>
          <td colspan="2">Personal Information</td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td>
            <span ng-hide="editing.firstName.editing">{{user.firstName}}<a ng-click="edit('firstName')"class="glyphicon glyphicon-pencil"></a></span>
            <input ng-show="editing.firstName.editing" ng-model="user.firstName" ng-blur="doneEditing('firstName')" autofocus />
          </td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>
            <span ng-hide="editing.lastName.editing">{{user.lastName}}<a ng-click="edit('lastName')"class="glyphicon glyphicon-pencil"></a></span>
            <input ng-show="editing.lastName.editing" ng-model="user.lastName" ng-blur="doneEditing('lastName')" autofocus />
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <span ng-hide="editing.username.editing">{{user.username}}<a ng-click="edit('username')"class="glyphicon glyphicon-pencil"></a></span>
            <input ng-show="editing.username.editing" ng-model="user.username" ng-blur="doneEditing('username')" autofocus />
          </td>
        </tr>
      </table>
    -->
    </div>

    <div class="modal fade" id="updateInfoForm" role="dialog">
      <form>
        <label for="firstNameInput">First Name: </label>
        <input id="firstNameInput" type="text" ng-model="newFirstName">
        <label for="lastNameInput">Last Name: </label>
        <input id="lastNameInput" type="text" ng-model="newLastName">
        <i>Unfortunately, you cannot update your email address at this time. Sorry for the inconvenience!<br/></i>
        <button class="btn btn-primary" ng-click="updateInformation()" data-dismiss="modal">Submit</button>
      </form>
    </div>

    <div class="modal fade" id="updatePhoto" role="dialog">
        <i>This part of the website is currently under construction. Thank you for your patience!<br/></i>
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>

    <div class="title">
      <h1>Scores and Maxes</h1>
    </div>

    <div class="results_table scores_table" id="profileStats" >

      <table ng-hide="updating" class="results_table" id="scoresInfo">
        <tr>
          <td colspan="2">Scores and Maxes</td>
        </tr>
        <tr>
          <td>Fran time:</td>
          <td>
            {{user.fran}}
          </td>
        </tr>
        <tr>
          <td>Grace time:</td>
          <td>
            {{user.grace}}
          </td>
        </tr>
        <tr>
          <td>Helen time:</td>
          <td>
            {{user.helen}}
          </td>
        </tr>
        <tr>
          <td>Filthy 50 time:</td>
          <td>
            {{user.filthy50}}
          </td>
        </tr>
        <tr>
          <td>Fight Gone Bad score:</td>
          <td>
            {{user.fightGoneBad}}
          </td>
        </tr>
        <tr>
          <td>Sprint 400m time:</td>
          <td>
            {{user.sprint400m}}
          </td>
        </tr>
        <tr>
          <td>Run 5k time:</td>
          <td>
            {{user.run5k}}
          </td>
        </tr>
        <tr>
          <td>Max Clean & Jerk:</td>
          <td>
            {{user.cleanAndJerk}}
          </td>
        </tr>
        <tr>
          <td>Max Snatch:</td>
          <td>
            {{user.snatch}}
          </td>
        </tr>
        <tr>
          <td>Max Deadlift:</td>
          <td>
            {{user.deadlift}}
          </td>
        </tr>
        <tr>
          <td>Max Back Squat:</td>
          <td>
            {{user.backSquat}}
          </td>
        </tr>
        <tr>
          <td>Max Unbroken Pullups:</td>
          <td>
            {{user.pullups}}
          </td>
        </tr>
      </table>

      <table ng-show="updating" class="results_table" id="scoresInfoUpdating">
        <tr>
          <td colspan="2">Scores and Maxes</td>
        </tr>
        <tr>
          <td>Fran time:</td>
          <td>
            <span ng-hide="editing.fran.editing">{{user.fran}}<a ng-click="edit('fran')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.fran.editing" ng-submit="doneEditing('fran')" autofocus>
              <input type="number" ng-model="editing.franMins">:<input type="number" ng-model="editing.franSeconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Grace time:</td>
          <td>
            <span ng-hide="editing.grace.editing">{{user.grace}}<a ng-click="edit('grace')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.grace.editing" ng-submit="doneEditing('grace')" autofocus>
              <input type="number" ng-model="editing.graceMins">:<input type="number" ng-model="editing.graceSeconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Helen time:</td>
          <td>
            <span ng-hide="editing.helen.editing">{{user.helen}}<a ng-click="edit('helen')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.helen.editing" ng-submit="doneEditing('helen')" autofocus>
              <input type="number" ng-model="editing.helenMins">:<input type="number" ng-model="editing.helenSeconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Filthy 50 time:</td>
          <td>
            <span ng-hide="editing.filthy50.editing">{{user.filthy50}}<a ng-click="edit('filthy50')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.filthy50.editing" ng-submit="doneEditing('filthy50')" autofocus>
              <input type="number" ng-model="editing.filthy50Mins">:<input type="number" ng-model="editing.filthy50Seconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Fight Gone Bad score:</td>
          <td>
            <span ng-hide="editing.fightGoneBad.editing">{{user.fightGoneBad}}<a ng-click="edit('fightGoneBad')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.fightGoneBad.editing" ng-submit="doneEditing('fightGoneBad')" autofocus >
              <input type="number" ng-model="user.fightGoneBad">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Sprint 400m time:</td>
          <td>
            <span ng-hide="editing.sprint400m.editing">{{user.sprint400m}}<a ng-click="edit('sprint400m')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.sprint400m.editing" ng-submit="doneEditing('sprint400m')" autofocus>
              <input type="number" ng-model="editing.sprintMins">:<input type="number" ng-model="editing.sprintSeconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Run 5k time:</td>
          <td>
            <span ng-hide="editing.run5k.editing">{{user.run5k}}<a ng-click="edit('run5k')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.run5k.editing" ng-submit="doneEditing('run5k')" autofocus>
              <input type="number" ng-model="editing.runMins">:<input type="number" ng-model="editing.runSeconds">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Max Clean & Jerk:</td>
          <td>
            <span ng-hide="editing.cleanAndJerk.editing">{{user.cleanAndJerk}}<a ng-click="edit('cleanAndJerk')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.cleanAndJerk.editing" ng-submit="doneEditing('cleanAndJerk')" autofocus>
              <input type="number" ng-model="editing.cleanAndJerkScore">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Max Snatch:</td>
          <td>
            <span ng-hide="editing.snatch.editing">{{user.snatch}}<a ng-click="edit('snatch')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.snatch.editing" ng-submit="doneEditing('snatch')" autofocus>
              <input type="number" ng-model="editing.snatchScore">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>          </td>
        </tr>
        <tr>
          <td>Max Deadlift:</td>
          <td>
            <span ng-hide="editing.deadlift.editing">{{user.deadlift}}<a ng-click="edit('deadlift')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.deadlift.editing" ng-submit="doneEditing('deadlift')" autofocus>
              <input type="number" ng-model="editing.deadliftScore">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Max Back Squat:</td>
          <td>
            <span ng-hide="editing.backSquat.editing">{{user.backSquat}}<a ng-click="edit('backSquat')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.backSquat.editing" ng-submit="doneEditing('backSquat')" autofocus>
              <input type="number" ng-model="editing.backSquatScore">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Max Unbroken Pullups:</td>
          <td>
            <span ng-hide="editing.pullups.editing">{{user.pullups}}<a ng-click="edit('pullups')"class="glyphicon glyphicon-pencil"></a></span>
            <form ng-show="editing.pullups.editing" ng-submit="doneEditing('pullups')" autofocus >
              <input type="number" ng-model="user.pullups">
              <button class="btn btn-primary" type="submit">Done</button>
            </form>
          </td>
        </tr>
      </table>

      <button ng-hide="updating" class="btn btn-primary" ng-click="updating = true">Update Scores and Maxes</button>
      <button ng-show="updating" class="btn btn-primary" ng-click="updating = false">Done Updating</button>
  </div>
</div>
