<div id="descriptions-content">
  <label for="crossfit-list">CrossFit Links:</label>
  <ul id="crossfit-list">
    <li><a target="_blank" href="http://www.crossfit.com/">CrossFit.com</a></li>
    <li><a target="_blank" href="http://games.crossfit.com/">Crossfit Games</a></li>
    <li><a target="_blank" href="http://www.crossfit.com/cf-info/what-is-crossfit.html">What is CrossFit?</a></li>
    <li><a target="_blank" href="https://map.crossfit.com/">Find a Local CrossFit Affiliate</a></li>
  </ul>
  <br/>
  <br/>
  <label for="training-list">Training Links:</label>
  <ul id="training-list">
    <li><a target="_blank" href="http://competitorstraining.com/">Competitor's Training (by Ben Bergeron)</a></li>
    <li><a target="_blank" href="http://paleoleap.com/paleo-101/">Paleo Diet 101</a></li>
  </ul>
</div>
