@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1000px;
  margin:0;
	padding:0;
  overflow:scroll;
}


#wrapper {
  height:1000px;
	min-height:100%;
	position:relative;
}

#header {
  padding:10px;
  height:150px;
}

#header h1 {
  text-align: center;
  font-family:Impact;
  font-size: 400%;
  color: #DD0000;
}

#header .logo {
  left:0%;
  top:0%;
  position:fixed;
  height: 150px;
  width: 150px;
}

#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0%;
  left:0%;
}

#footer p {
  text-align:center;
  color:#FFF;
}

#content {
  height:100%;
  width:100%;
  top:160px;
	float:left;
  padding-bottom:100px;
}

.selection {
  display:block;
  width:100%;
  position:absolute;
  top:160px;
  text-align: center;
}

.results_table {
  padding:0px;
	width:400px;
  text-align: center;
  display:block;
  position:absolute;
  top:200px;
  left:33%;
  padding-bottom:100px;
}

.results_table table{
	width:100%;
	height:100%;
	margin:0px;
  padding:0px;
  text-align:center;
}

.results_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

.results_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

.results_table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

.results_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}

.results_table tr:hover td{

}

.results_table tr:nth-child(odd){
  background-color:#cacaca;
}
.results_table tr:nth-child(even){
  background-color:#fafafa;
}

.results_table td{
	vertical-align:middle;
  width:50%;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:15px;
	font-family:Impact;
	font-weight:normal;
	color:#000000;
}
.results_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.results_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.results_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.results_table tr:first-child td{
		background:-o-linear-gradient(bottom, #dd0000 5%, #7d0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd0000), color-stop(1, #7d0000) );
	background:-moz-linear-gradient( center top, #dd0000 5%, #7d0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd0000", endColorstr="#7d0000");	background: -o-linear-gradient(top,#dd0000,7d0000);

	background-color:#dd0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Impact;
	font-weight:normal;
	color:#ffffff;
}
.results_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #dd0000 5%, #7d0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd0000), color-stop(1, #7d0000) );
	background:-moz-linear-gradient( center top, #dd0000 5%, #7d0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd0000", endColorstr="#7d0000");	background: -o-linear-gradient(top,#dd0000,7d0000);
	background-color:#dd0000;
}

.results_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.results_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
