@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
    font-family: 'aero_maticsregular';
    src: url('aero_matics_regular-webfont.eot');
    src: url('aero_matics_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('aero_matics_regular-webfont.woff2') format('woff2'),
         url('aero_matics_regular-webfont.woff') format('woff'),
         url('aero_matics_regular-webfont.ttf') format('truetype'),
         url('aero_matics_regular-webfont.svg#aero_maticsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:1000px;
  height:100%;
  margin:0;
	padding:0;
  overflow:scroll;
}


#wrapper {
  height:100%;
	min-height:1200px;
	position:relative;
}

#header {
  padding:10px;
  height:150px;
}

#header button {
  float: right;
}

#userIcon {
  margin-right: 10px;
}

#userIcon span {
  color: #dd0000;
}

.btn-primary {
  background-color:#dd0000;
  border-color: #aa0000;
  font-family:aero_maticsregular;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color:#dd0000;
  border-color: #aa0000;
  font-family:aero_maticsregular;
  outline: 0;
}

.btn-primary:hover {
  color: #fff;
  background-color:#aa0000;
  border-color: #770000;
  font-family:aero_maticsregular;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color:#aa0000;
  border-color: #770000;
  font-family:aero_maticsregular;
  outline: 0;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color:#aa0000;
  border-color: #770000;
  font-family:aero_maticsregular;
  outline: 0;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color:#aa0000;
  border-color: #770000;
  font-family:aero_maticsregular;
  outline: 0;
}
.btn-primary .badge {
  background-color:#aa0000;
  border-color: #770000;
  font-family:aero_maticsregular;
  outline: 0;
}

.btn-link {
  font-weight: normal;
  color: #fff;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #ddd;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #DDD;
  text-decoration: none;
}

#header h1 {
  margin-left:25%;
  font-family:Impact;
  font-size: 400%;
  color: #DD0000;
}

#header .logo {
  left:0;
  top:0;
  float:left;
  height: 150px;
  width: 150px;
}

.navbar-inverse {
  background-color:#000;
  font-family:aero_maticsregular;
}

.navbar-header {
  position: relative;
  left: 300px;
}

#navbar ul {
  position: relative;
  left: 300px;
}


#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0%;
  left:0%;
}

#footer p {
  text-align:center;
  font-family:aero_maticsregular;
  color:#FFF;
}

#content {
  height:100%;
  width:100%;
  top:160px;
	float:left;
  padding-bottom:100px;
}

#content .info {
  width:400px;
  top:180px;
  display:block;
  position:absolute;
  left:35%;
}

#content .info p {
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 150%;
  color:#FFF;
}

#content .results_table table{
  width:400px;
}

#content .results_table td {
  width: 50%;
}

.selection {
  display:block;
  width:100%;
  position:absolute;
  top:280px;
  text-align: center;
}

.compare-yourself-selection {
  display:block;
  width:100%;
  position:absolute;
  top:400px;
  text-align: center;
}

.results {
  padding:0px;
  text-align: center;
  display:block;
  position:absolute;
  top:320px;
  left:35%;
  padding-bottom:100px;
}

.compare-yourself-results {
  padding:0px;
  text-align: center;
  display:block;
  position:absolute;
  top:425px;
  left:35%;
  padding-bottom:100px;
}

.results_table table{
	height:100%;
	margin:0px;
  padding:0px;
  text-align:center;
}

.results_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

.results_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

.results_table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}

.results_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}

.results_table tr:hover td{

}

.results_table tr:nth-child(odd){
  background-color:#cacaca;
}
.results_table tr:nth-child(even){
  background-color:#fafafa;
}

.results_table td{
	vertical-align:middle;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:15px;
	font-family:aero_maticsregular;
	font-weight:normal;
	color:#000000;
}
.results_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.results_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.results_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.results_table tr:first-child td{
		background:-o-linear-gradient(bottom, #dd0000 5%, #7d0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd0000), color-stop(1, #7d0000) );
	background:-moz-linear-gradient( center top, #dd0000 5%, #7d0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd0000", endColorstr="#7d0000");	background: -o-linear-gradient(top,#dd0000,7d0000);

	background-color:#dd0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:aero_maticsregular;
	font-weight:normal;
	color:#ffffff;
}
.results_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #dd0000 5%, #7d0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd0000), color-stop(1, #7d0000) );
	background:-moz-linear-gradient( center top, #dd0000 5%, #7d0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd0000", endColorstr="#7d0000");	background: -o-linear-gradient(top,#dd0000,7d0000);
	background-color:#dd0000;
}

.results_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.results_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#descriptions-content {
  width:800px;
  top:160px;
  margin-top:50px;
  position: absolute;
  left:22%;
  padding-bottom:100px;
  background-color: rgba(0, 0, 0, 0.5);
}

#descriptions-content p {
  text-align:center;
  font-size: 250%;
  font-family:aero_maticsregular;
  color: #fafafa;
}

#descriptions-content label {
  width: 100%;
  text-align:center;
  font-size: 250%;
  font-family:aero_maticsregular;;
  color: #dd0000;
}

#descriptions-content ul {
  margin: 0 auto;
  padding: 0;
  display: table;
  list-style: none;
}

#descriptions-content li {
  text-align:center;
  font-size: 200%;
  font-family:aero_maticsregular;;
}

#descriptions-content a {
  color: #cacaca;
}


#compare-groups-content {
  min-height:1200px;
  height:100%;
  width:100%;
  top:160px;
  margin-top:50px;
	float:left;
  padding-bottom:100px;
}

.info {
  width:800px;
  top:180px;
  display:block;
  position:absolute;
  left:20%;
}

.info p {
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 150%;
  color:#FFF;
}


#compare-groups-content .results_table {
  top:445px;
  left:28%;
}

#compare-groups-content .results_table table {
  width: 600px;
  position: relative;
  vertical-align:center;
}



#compare-groups-content .levels_box {
  background-color:black;
  padding:0px;
	width:300px;
  height:100px;
  display:block;
  position:absolute;
  top:325px;
  left:38%;
  padding-bottom:100px;
  font-family:aero_maticsregular;
  font-size:100%;
  overflow:scroll;
}

#compare-groups-content .levels_box table {
  margin-top:10px;
  position:absolute;
  left:11%;
}

#compare-groups-content .levels_box .label {
  font-size:130%;
  position:relative;
  top: 7px;
}

#compare-groups-content .levels_box td {
  color: #FFF;
  padding-right: 35px;
  padding-bottom: 10px;
}

#compare-groups-content .levels_box td button {
  color: #FFF;
  background-color:#dd0000;
}

#about_content {
  width: 600px;
  top:180px;
  position:absolute;
  left:28%;
  background-color: rgba(0, 0, 0, 0.5);
}

#about_content h2 {
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 250%;
  opacity: 50%;
  color:#DD0000;
}

#about_content p {
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 150%;
  color:#FFF;
}

#compare-yourself-content input {
  width: 100px;
}

#compare-yourself-content .compare-yourself-selection {
  width:500px;
  left:31%;
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 150%;
  color:#DD0000;
  margin-top:30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 25px;
}

#compare-yourself-content .results_table {
  left:28%;
}

#compare-yourself-content .results_table table {
  width: 600px;
  vertical-align:center;
}


#contact_content {
  width: 600px;
  top:180px;
  position:absolute;
  left:28%;
  background-color: rgba(0, 0, 0, 0.5);
}

#contact_content h2 {
  text-align:center;
  font-family:aero_maticsregular;
  font-size: 250%;
  opacity: 50%;
  color:#FFF;
}

.login {
  font-family: aero_maticsregular;
  color: #FFF;
}

.register {
  font-family: aero_maticsregular;
  color: #FFF;
}

.forgot {
  font-family:aero_maticsregular;
  color: #FFF;
}

.reset {
  font-family:aero_maticsregular;
  color: #FFF;
}

.profile {
  font-family:aero_maticsregular;
  color: #FFF;
}

.profile_table {
  margin-top: 10px;
  margin-bottom: 0px;
  width:70%;
  margin-left:15%;
}

#profileInfo {
  border: medium solid white;
  padding: 10px;
  margin-top: 50px;

}

#userBasics {
  width: 100%;
}

#userBasics td {
  width: 50%;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
}

#userBasics td h2 {
  border-bottom: thin solid white;
  display: inline-block;
}

#updateInfoForm form {
  padding: 10px;
  width: 300px;
  display: inline-block;
  margin-top:300px;
  margin-left: 40%;
  background-color: black;
  text-align: center;
  font-size: 15pt;
}


#updateInfoForm form input{
  margin-bottom: 10px;
  display:block;
  margin-left: 8%;
  color: black;
}

#updateInfoForm button {
  margin-top: 20px;
  margin-bottom: 20px;
}


#updatePhoto {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  height: 200px;
  margin-top:300px;
  margin-left: 40%;
  background-color: black;
  text-align: center;
  font-size: 15pt;
}

#updatePhoto button {
  margin-top: 20px;
}

.scores_table {
  padding-bottom:100px;
  margin-top: 10px;
  width:70%;
  margin-left:13%;
  position:absolute;
}

.scores_table button {
  width: 70%;
  height: 3em;
  margin-left: 15%;
  margin-top: 15px;
}


#scoresInfo {
  width: 100%;
}

#scoresInfo td {
  width: 50%;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
}

#scoresInfoUpdating {
  width: 100%;
}

#scoresInfoUpdating td {
  width: 50%;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
}

#scoresInfoUpdating td a{
  float: right;
}

.title h1 {
  display: inline-block;
  margin-top: 75px;
  margin-left: 30%;
  border-bottom: thin solid white;
}

.profileEditing {
  width: 100%;
  display: inline-block;
}

.profileEditing input {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
}

.profileEditing button {
  height: 3em;
  width: 5em;
  display: table;
  margin-left: 34%;
}
